html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 375px;
    height: 100%;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;

    background-image:
        url("/images/bg-pattern-top.svg"),
        url("/images/bg-pattern-bottom.svg");
    background-repeat:
        no-repeat,
        no-repeat;
    background-position:
        120% 70%,
        -30% -40%;
    background-color: hsl(185, 75%, 39%);
}

.profile-card {
    background-color: white;
    height: 400px;
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem 1rem 1rem 1rem;
}

.disposicao-imagem {
    height: 40%;
    width: auto;
    background-image: url("/images/bg-pattern-card.svg");
    border-radius: 1rem 1rem 0 0;
}

.imagem-usuario {
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: auto;
}

.imagem-usuario img {
    border: 6px solid white;
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.dados-usuario {
    height: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dados-usuario h1 {
    margin: 1.5rem 0 0.5rem 0;
    font-weight: 700;
}

.dados-usuario h2 {
    margin: 0.5rem 0 1rem 0;
}

hr {
    height: 1px;
    width: 100%;
    background-color: hsl(0, 0%, 59%);
    border: none;
}

.estatisticas-usuario {
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.estatisticas-usuario span {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 0.5rem 0;
}

h3 {
    margin: 0 1rem;
    line-height: 0.8rem;
    font-weight: 700;
}

h3 span {
    font-weight: 400;
    font-size: 0.8rem;
}

.attribution {
    color: white;
    text-align: center;
    font-size: 0.7rem;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}